name: build and push image to ghcr

on:
  workflow_call:
  workflow_dispatch:
  push:

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io/${{ github.actor }}

jobs:
  build-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variant:
          - linux/amd64
          - linux/arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract repository info
        id: repo
        run: |
          echo "name=${GITHUB_REPOSITORY#*/}" >> $GITHUB_OUTPUT

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ steps.repo.outputs.name }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        id: build
        with:
          context: .
          file: ./Dockerfile
          push: true
          target: development
          platforms: ${{ matrix.platforms }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: REGISTRY=${{ env.REGISTRY }}
#          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ steps.repo.outputs.name }}:cache
#          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ steps.repo.outputs.name }}:cache,mode=max
          cache-from: type=gha
          cache-to: type=gha,mode=max
#          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=My multi-arch image
          label: |
            org.opencontainers.image.source=https://github.com/alisalehi1380/laravel-development-image
            org.opencontainers.image.description="development image for laravel"
            org.opencontainers.image.platforms=${{ matrix.platforms }}
            org.opencontainers.image.licenses=MIT

      - name: Image digest
        run: echo ${{ steps.build.outputs.digest }}
